body{
    background-color: firebrick;
    
}
h1 {
    color: rgb(160, 160, 160);
    margin: 10%;
    border: 0px solid;
    padding: 1%;
}
img {
    color:whitesmoke ;
    color:gray;
    margin: 5%;
    border: 10%px solid;
    padding: 10%;
    contain: 0%;
}

h3 {
    color: rgb(104, 0, 0);
    margin: 5%;
    border: 0px solid;
    padding: 1%;
}
h2 {
    color: rgb(0, 119, 10);
    margin: 5%;
    border: 0px solid;
    padding: 1%;
}
l1 {
    color: rgb(0, 43, 124);
    margin: 5%;
    border: 0px solid;
    padding: 1%;
}